black
coverage[toml]
flake8-docstrings
flake8-builtins
isort
git+https://github.com/juju/python-libjuju
mypy
pep8-naming
pyproject-flake8
pytest
pytest-operator
types-PyYAML
types-setuptools
types-toml
